<div class="history-list-container" [ngClass]="{'dark-theme': isDarkTheme}">
  <div class="filter-container">

  </div>
  @if (!isLoading && !!watchProgressList && watchProgressList.length > 0) {
    <div class="history-list">
      @for (watchProgress of watchProgressList; track watchProgress) {
        <history-card [watchProgress]="watchProgress"></history-card>
      }
      @if (total > countPerPage) {
        <div class="pagination-container">
          <ui-pagination [currentPage]="currentPage" [total]="total" [countPerPage]="countPerPage" [max]="5" (pageChange)="getHistoryList($event)"></ui-pagination>
        </div>
      }
    </div>
  }
  @if (!isLoading && (!watchProgressList || watchProgressList.length === 0)) {
    <div class="no-result-container">
      <div class="no-result-tips"><i class="warning circle icon"></i>还没有内容</div>
    </div>
  }
  @if (isLoading) {
    <div class="loading-container">
      <div class="ui inverted massive text active loader">Loading...</div>
    </div>
  }
</div>