<div class="preview-video-container">
  <div class="theater-backdrop" (click)="focusVideoPlayer($event)">
    <video-player class="player-width player-height"
      [videoFile]="videoFile"
    (onProgress)="onProgressUpdate($event)"></video-player>
  </div>
  @if (!!manifest) {
    <div class="pv-info-container">
      <div class="current-pv" [@timing]="currentPVState">
        @if (!!currentPV.image) {
          <div class="bgm-image">
            <img [src]="currentPV.image" alt="">
          </div>
        }
        <div class="info">
          @if (!!currentPV.name_cn) {
            <h3 class="title">
              <a [href]="'https://bgm.tv/subject/' + currentPV.bgm_id" target="_blank">{{currentPV.name_cn}}</a>
            </h3>
          }
          @if (!currentPV.name_cn) {
            <h3 class="title">
              <a [href]="'https://bgm.tv/subject/' + currentPV.bgm_id" target="_blank">{{currentPV.name}}</a>
            </h3>
          }
          @if (!!currentPV.name_cn) {
            <h4 class="sub-title">{{currentPV.name}}</h4>
          }
          @if (!!currentPV.summary) {
            <div class="summary" [innerHTML]="currentPV.summary">
            </div>
          }
          <div class="air-date">放送开始：{{currentPV.air_date}}</div>
        </div>
      </div>
    </div>
  }
</div>