@if (!isReveal && isEnabled) {
  <div class="reveal-off">
    @if (!isLoading) {
      <button class="ui tiny basic button" [ngClass]="{inverted: isDarkTheme}" type="button" (click)="reveal()">查看更多信息</button>
    }
    @if (isLoading) {
      <button class="ui tiny basic loading button" [ngClass]="{inverted: isDarkTheme}" type="button"></button>
    }
  </div>
}
@if (isReveal && isEnabled) {
  <div class="reveal-on">
    @if (!!extraInfo && !!extraInfo.crt) {
      <bangumi-character [bangumi]="bangumi" [characterList]="extraInfo.crt"></bangumi-character>
    }
    <div class="buttons">
      <button class="ui tiny basic button" type="button" [ngClass]="{inverted: isDarkTheme}" (click)="hide()">隐藏信息</button>
    </div>
  </div>
}