<form class="ui form bangumi-recommend-form" [formGroup]="recommendForm" [ngClass]="{error: recommendForm.invalid}">
  <div class="bangumi-info">
    <div class="bangumi-name">
      <span class="key">番組名称：</span> {{bangumi.name}}
    </div>
    <div class="bangumi-id">
      <span class="key">番組ID：</span> {{bangumi.id}}
    </div>
  </div>
  <div class="announce-info">
    <div class="field" [ngClass]="{error: recommendFormErrors.startTime.length > 0}">
      <label>开始时间</label>
      <ngxsmk-datepicker formControlName="startTime" mode="single" [appendToBody]="true"></ngxsmk-datepicker>
      <!--<input type="number" formControlName="start_time">-->
    </div>
    @if (recommendFormErrors.startTime.length > 0) {
      <div class="ui error message">
        <ul class="list">
          @for (error of recommendFormErrors.startTime; track error) {
            <li>{{error}}</li>
          }
        </ul>
      </div>
    }
    <div class="field" [ngClass]="{error: recommendFormErrors.endTime.length > 0}">
      <label>结束时间</label>
      <ngxsmk-datepicker formControlName="endTime" mode="single" [appendToBody]="true"></ngxsmk-datepicker>
      <!--<input type="number" formControlName="end_time">-->
    </div>
    @if (recommendFormErrors.endTime.length > 0) {
      <div class="ui error message">
        <ul class="list">
          @for (error of recommendFormErrors.endTime; track error) {
            <li>{{error}}</li>
          }
        </ul>
      </div>
    }
    @if (!!recommendForm.errors && !!recommendForm.errors['dateRange']) {
      <div class="ui error message">
        {{validationMessages['dateRange'][recommendForm.errors['dateRange']]}}
      </div>
    }
    <div class="field" [ngClass]="{error: recommendFormErrors.sortOrder.length > 0}">
      <label>顺序</label>
      <input type="number" formControlName="sortOrder" placeholder="当同一个位置有多个公告时使用">
    </div>
  </div>
  <div class="footer">
    <button class="ui button" (click)="cancel()">取消</button>
    <button class="ui primary button" (click)="save()" [disabled]="recommendForm.invalid">保存</button>
  </div>
</form>
