<div class="header">
  我在看的番組
</div>
@if (favoriteList && favoriteList.length > 0) {
  <div class="menu favorite-list">
    @for (fav of favoriteList; track fav) {
      <a class="item favorite-item" [routerLink]="['/bangumi', fav.bangumi.id]">
        <span class="bangumi-name">
          {{fav.bangumi.nameCn}}
        </span>
        @if (fav.unwatchedCount && fav.checkTime < fav.epsUpdateTime) {
          <span class="ui orange small label">{{fav.unwatchedCount}}</span>
        }
        @if (fav.unwatchedCount && fav.checkTime >= fav.epsUpdateTime) {
          <span class="ui small undecorated label">{{fav.unwatchedCount}}</span>
        }
      </a>
    }
  </div>
}
@if (favoriteList && favoriteList.length === 0) {
  <div class="empty-placeholder">
    还没有在看的番組
  </div>
}