<div class="header">
    我在看的番組
</div>
<div class="menu favorite-list" *ngIf="favoriteList && favoriteList.length > 0">
    <a class="item favorite-item" *ngFor="let fav of favoriteList" [routerLink]="['/bangumi', fav.bangumi.id]">
        <span class="bangumi-name">
            {{fav.bangumi.nameCn}}
        </span>
        <span *ngIf="fav.unwatchedCount && fav.checkTime < fav.epsUpdateTime" class="ui orange small label">{{fav.unwatchedCount}}</span>
        <span *ngIf="fav.unwatchedCount && fav.checkTime >= fav.epsUpdateTime" class="ui small undecorated label">{{fav.unwatchedCount}}</span>
    </a>
</div>
<div class="empty-placeholder" *ngIf="favoriteList && favoriteList.length === 0">
    还没有在看的番組
</div>