<div class="user-center-container ui container">
    <div class="ui secondary pointing menu" [ngClass]="{inverted: isDarkTheme}">
        <a routerLink="/settings/user" class="active item">用户设置</a>
    </div>
    <div class="ui segment basic-info" [ngClass]="{inverted: isDarkTheme}">
        <h4>基本信息</h4>
        <div class="ui form" [ngClass]="{inverted: isDarkTheme}">
            <div class="inline field">
                <label>用户名</label>
                <span>{{user?.name}}</span>
            </div>
            <div class="inline field">
                <label>Role</label>
                <span>{{user?.role}}</span>
            </div>
        </div>
    </div>
    <div class="ui segment basic-info" [ngClass]="{inverted: isDarkTheme}" *ngIf="user?.role === 'Guest'">
        <div class="ui active inverted dimmer" *ngIf="isLoading">
            <div class="ui large text loader">提交中...</div>
        </div>
        <h4>实验性功能</h4>
        <form class="ui form" [ngClass]="{inverted: isDarkTheme}">
            <div class="inline field">
                <label>邀请码</label>
                <input name="invitationCode" type="text" [formControl]="invitationCode" />
            </div>
            <button class="ui button" (click)="submitInvitationCode()">提交</button>
        </form>
    </div>
</div>