<div class="vertex-graph-container" #graphContainer xmlns:svg="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <div class="graph-legend">
        <div class="legend-item">
            <span class="ui tiny basic label">&nbsp;</span> = Pending
        </div>
        <div class="legend-item">
            <span class="ui tiny blue label">&nbsp;</span> = Running
        </div>
        <div class="legend-item">
            <span class="ui tiny green label">&nbsp;</span> = Finished
        </div>
        <div class="legend-item">
            <span class="ui tiny brown label">&nbsp;</span> = Canceled
        </div>
        <div class="legend-item">
            <span class="ui tiny red label">&nbsp;</span> = Error
        </div>
    </div>
    <ngx-graph class="vertex-graph"
               *ngIf="nodes && edges && graphViewDimension"
               [view]="graphViewDimension"
               [showMiniMap]="true"
               [links]="edges" [nodes]="nodes"
               (click)="unselectAnything()">
        <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
            <svg:g class="vertex">
                <svg:foreignObject width="240" [attr.height]="nodeHeightDict[node.data.actionType]">
                    <xhtml:div class="action-card" [ngClass]="node.data.status" (click)="selectNode(node.id, $event)">
                        <xhtml:div class="action-label"><xhtml:i class="icon" [ngClass]="nodeIconClassDict[node.data.actionType]"></xhtml:i>{{node.label}}</xhtml:div>
                        <xhtml:div *ngIf="node.data.actionType === eActionType.Convert" class="action-properties">
                            <xhtml:div class="convert-profile"><xhtml:span class="property-name">profile:</xhtml:span>{{node.data.action.profile}}</xhtml:div>
                            <xhtml:div class="profile-extra"><xhtml:span class="property-name">profileExtraData:</xhtml:span>{{node.data.action.profileExtraData}}</xhtml:div>
                        </xhtml:div>
                        <xhtml:div *ngIf="node.data.actionType === eActionType.Extract" class="action-properties">
                            <xhtml:div class="extract-source" *ngIf="!!node.data.action.extractFrom"><xhtml:span class="property-name">extractFrom:</xhtml:span>{{node.data.action.extractFrom}}</xhtml:div>
                            <xhtml:div class="extract-target" *ngIf="!!node.data.action.extractTarget"><xhtml:span class="property-name">extractTarget:</xhtml:span>{{node.data.action.extractTarget}}</xhtml:div>
                            <xhtml:div class="outputExtname" *ngIf="!!node.data.action.outputExtname"><xhtml:span class="property-name">outputExtname:</xhtml:span>{{node.data.action.outputExtname}}</xhtml:div>
                            <xhtml:div class="extractRegex" *ngIf="!!node.data.action.extractRegex"><xhtml:span class="property-name">extractRegex:</xhtml:span>{{node.data.action.extractRegex}}</xhtml:div>
                            <xhtml:div class="extraData" *ngIf="!!node.data.action.extraData && !!node.data.action.extraData.propertyName">
                                <xhtml:span class="property-name">extraData.propertyName:</xhtml:span>{{node.data.action.extraData.propertyName}}</xhtml:div>
                            <xhtml:div class="extraData" *ngIf="!!node.data.action.extraData && !!node.data.action.extraData.propertyValueRegex">
                                <xhtml:span class="property-name">extraData.propertyValueRegex:</xhtml:span>{{node.data.action.extraData.propertyValueRegex}}</xhtml:div>
                            <xhtml:div class="extraData" *ngIf="!!node.data.action.extraData && node.data.action.extractorId === 'Audio'">
                                <xhtml:span class="property-name">extraData.selectDefault:</xhtml:span>{{node.data.action.extraData.selectDefault}}</xhtml:div>
                        </xhtml:div>
                    </xhtml:div>
                </svg:foreignObject>
                <svg:rect width="240"
                          [attr.height]="nodeHeightDict[node.data.actionType]"
                          fill="None"
                          stroke-width="2"
                          stroke="purple" *ngIf="node.id === selectedNodeId"></svg:rect>
            </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
            <svg:g class="edge">
                <svg:path class="line" stroke-width="4" marker-end="url(#arrow)"></svg:path>
            </svg:g>
        </ng-template>
    </ngx-graph>
</div>