<div class="resource-scanner-editor-container">
    <form class="scanner-form" [formGroup]="scannerForm">
        <div class="name">
            <div class="ui large label">
                <i class="rss icon"></i>
                Scanner# {{scannerIndex}}
            </div>
        </div>
        <div class="ui labeled input offset-field">
            <div class="ui label">Offset</div>
            <input type="number" formControlName="offset">
        </div>
        <div class="input-box-wrapper ui left action input">
            <div class="ui basic dropdown button" uiDropdown="click">
                <div class="text">{{scannerForm.controls['feed'].value}}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" *ngFor="let feed of feedList" (click)="selectMode(feed)">{{feed}}</div>
                </div>
            </div>
            <input type="text" formControlName="criteria" name="criteria" placeholder="请输入搜索关键词" (keyup.enter)="testFeed()">
        </div>
        <button class="ui primary button test-button" type="button" (click)="testFeed()">Test</button>
        <ui-toggle class="regex-toggle" formControlName="enableRegex">Enable Regex</ui-toggle>
        <div class="ui labeled input match-regex-input" [ngClass]="{disabled: !scannerForm.controls['enableRegex'].value}">
            <div class="ui label">匹配集数正则</div>
            <input type="text" formControlName="matchRegex" placeholder="匹配集数正则">
        </div>
    </form>
    <div class="search-result-wrapper">
        <table class="search-result ui striped table" *ngIf="itemList && itemList.length > 0">
            <thead>
            <tr>
                <th>时间</th>
                <th>发布者</th>
                <th>标题</th>
                <th>集数</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of itemList; index as i">
                <td>{{item.timestamp}}</td>
                <td>{{item.publisher?.name}}</td>
                <td>{{item.title}}</td>
                <td class="eps-no-list">
                    <span class="ui label" *ngFor="let eps_no of item.eps_no_list">
                        {{eps_no.eps_no}}
                        <span class="detail">{{eps_no.format}}</span>
                    </span>
                </td>
                <td><a class="anchor-button" title="Download This" (click)="downloadItemDirectly(i, item)"><i class="cloud download icon"></i></a></td>
            </tr>
            </tbody>
        </table>
        <div class="ui active inverted dimmer searching-wrapper" *ngIf="isSearching">
            <div class="ui text loader">
                搜索中...
            </div>
        </div>
        <div class="ui active inverted dimmer no-result-wrapper" *ngIf="noResultFound">
            <div class="no-result-tip">没有匹配到结果</div>
        </div>
    </div>
    <div class="footer">
        <button class="ui button negative"
                *ngIf="isEditing"
                confirmDialog
                [dialogTitle]="'确定要删除' + scanner.feed + '来源吗？'"
                dialogContent="该操作立即生效，你可以在编辑番組界面重新添加该来源"
                (onConfirm)="delete()">删除</button>
        <button class="ui button" (click)="cancel()">取消</button>
        <button class="ui primary button" (click)="save()">保存</button>
    </div>
</div>