<div class="file-mapping-list-modal">
    <div class="modal-header">
        <h4>File Mapping of Job {{jobId}}</h4>
        <a class="close-button" (click)="close()"><i class="remove icon"></i></a>
    </div>

    <div class="modal-content">
        <form class="ui form" [formGroup]="fileMappingFormGroup">
            <div class="field" *ngFor="let entry of fileMapping">
                <label>
                    VideoId:
                    {{entry.videoId}}
                    <span *ngIf="fileMappingEnhanced">(Episode: {{entry.episode.episode_no}})</span>
                </label>
                <input type="text" [formControlName]="entry.videoId">
            </div>
        </form>
    </div>
</div>