@import '../common.less';
@import '../../../_dark-theme-helpers';

.buttons-container {
  padding: 0 1rem;
  .anchor-button {
    margin-right: 1.5rem;
  }
}

.anchor-button {
  cursor: pointer;
  color: #9f9f9f;
  &:hover,
  &:focus {
    color: #5f94c5;
  }
}

:host.dark-theme {
  .section-card {
    background-color: @darkPanelBg;
    color: @darkForeground;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }
  .anchor-button {
    color: darken(@darkForeground, 15%);
    &:hover,
    &:focus {
      color: @darkLinkHoverColor;
    }
  }
}