<div class="video-process section-card" *ngIf="bangumi && bangumi.id">
    <h4 class="section-header">后期处理</h4>
    <div class="rule-list">
        <video-process-rule-item *ngFor="let videoProcessRule of videoProcessRuleList" [rule]="videoProcessRule" (delete)="refreshList()">
        </video-process-rule-item>
    </div>
    <div class="buttons-container">
        <a class="anchor-button" (click)="onAddRule()"><i class="plus icon"></i>Add Rule</a>
        <a class="anchor-button"
           *ngIf="!isWorkingOnReprocess"
           title="Re-process All Episodes"
           confirmDialog
           dialogTitle="Re-process All Episodes' VideoFiles"
           dialogContent="This will re-process all VideoFiles if there is any rule applied!" (onConfirm)="reprocessAll()"><i class="redo icon"></i>Re-process All</a>
        <span *ngIf="isWorkingOnReprocess">Working on...</span>
    </div>
</div>
