@if (bangumi.type === 'anime') {
  <div class="crt-header">角色和声优</div>
}
@if (bangumi.type === 'real') {
  <div class="crt-header">角色</div>
}
<div class="ui stackable three column grid chara-grid">
  @for (character of characterList; track character) {
    <div class="column">
      <div class="character-wrapper">
        <div class="chara-avatar">
          @if (!!character.images) {
            <img [src]="character.images?.grid" alt="avatar">
          }
        </div>
        <div class="chara-info">
          <div class="main-info">
            <a [href]="character.url" target="_blank">{{character.name}}</a>
          </div>
          <div class="extra-info">
            <span class="ui mini label chara-role" [ngClass]="{grey: isDarkTheme, basic: !isDarkTheme}">{{character.role_name}}</span>
            <span class="name-cn">{{character.name_cn}}</span>
          </div>
          @if (!!character.actors) {
            <div class="actor-info">
              <span class="actor-key">CV:</span>
              @for (actor of character.actors; track actor; let isLast = $last) {
                <span class="actor-name">
                  <a [href]="actor.url" target="_blank" class="actor-name-link">{{actor.name}}</a>
                  @if (!isLast) {
                    <span class="name-divider">/</span>
                  }
                </span>
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>