<div class="ui container" *ngIf="isInit">
    <a class="ui segment" [routerLink]="['/bangumi', bangumi.id]" [ngClass]="{inverted: isDarkTheme}">
        <div class="bangumi-list-item">
            <ui-responsive-image class="cover-wrapper"
                              [src]="imageUrl"
                              [size]="{
                                width: '10rem',
                                height: '100%',
                                originalWidth: bangumi.coverImage.width,
                                originalHeight: bangumi.coverImage.height
                              }"
                              [background]="bangumi.coverImage.dominantColor"
                              (imageLoad)="onImageLoad()"
            ></ui-responsive-image>
            <div class="list-item-text">
                <h4 class="bangumi-title">{{bangumi.nameCn || '暂无'}}</h4>
                <h4 class="entry">
                    <span class="entry-key">日文名</span>
                    <span class="entry-value">{{bangumi.name || '暂无'}}</span>
                </h4>
                <p class="entry">
                    <span class="entry-key">简介</span>
                    <span class="entry-value">{{bangumi.summary || '暂无'}}</span>
                </p>
                <p class="entry">
                    <span class="entry-key">放送开始</span>
                    <span class="entry-value">{{bangumi.airDate || '未知'}}</span>
                </p>
                <p class="entry">
                    <span class="entry-key">放送星期</span>
                    <span class="entry-value">{{bangumi.airWeekday || '未知'}}</span>
                </p>
                <p class="entry">
                    <span class="entry-key">话数</span>
                    <span class="entry-value">{{bangumi.eps || '0'}}</span>
                </p>
            </div>
        </div>
        <div *ngIf="bangumi.favorite_status" class="ui right ribbon label"
            [ngClass]="{
            orange: bangumi.favorite_status === 1,
            olive: bangumi.favorite_status === 2,
            blue: bangumi.favorite_status === 3,
            brown: bangumi.favorite_status === 4,
            grey: bangumi.favorite_status === 5
            }">
            {{FAVORITE_LABEL[bangumi.favorite_status]}}
        </div>
    </a>
</div>
<div class="ui container" *ngIf="!isInit">
    <div class="ui segment">
        <div class="bangumi-list-item">
            <div class="cover-wrapper ui placeholder">
                <div class="image"></div>
            </div>
            <div class="list-item-text ui placeholder">
                <div class="header">
                    <div class="short title line"></div>
                </div>
                <div class="line">
                </div>
                <div class="line">
                </div>
                <div class="line">
                </div>
                <div class="line">
                </div>
                <div class="line">
                </div>
            </div>
        </div>
    </div>
</div>