<div class="ui segment">
    <div class="card-content">
        <div class="job-id ui label">JOB ID: {{job.id}}</div>
        <div class="progress">{{job.progress + '%'}}</div>
        <div class="bangumi-name" *ngIf="!!job.bangumi">
            Bangumi:
            <a class="bangumi-link" [routerLink]="['/admin/bangumi', job.bangumiId]">{{job.bangumi.name}}</a>
        </div>
        <a *ngIf="!!job.bangumi" class="file-mapping anchor-button" (click)="onViewFileMapping()">View FileMapping</a>
        <a *ngIf="job.status === mJobStatus.Complete" class="anchor-button" (click)="resendCompleteMessage()">Resend Complete Message</a>
        <div class="eps-list" *ngIf="episodeNoList && episodeNoList.length > 0">
            Episode:
            <span class="ui label" *ngFor="let eps of episodeNoList">{{eps}}</span>
        </div>
    </div>
    <div class="ui bottom attached progress" [ngClass]="{
        success: job.status === mJobStatus.Complete,
        'blue active': job.status === mJobStatus.Downloading,
        teal: job.status === mJobStatus.Pending,
        warning: job.status === mJobStatus.Paused,
        error: job.status === mJobStatus.Error,
        disabled: job.status === mJobStatus.Removed}">
        <div class="bar" [style.width]="job.progress + '%'"></div>
    </div>
</div>