@import '../../_dark-theme-helpers';

.dark-download-job-card() {
  .anchor-button {
    color: @darkLinkColor;
    &:hover,
    &:focus {
      color: @darkLinkHoverColor;
    }
  }
  .bangumi-link {
    color: @darkLinkColor;
    &:hover,
    &:focus {
      color: @darkLinkHoverColor;
    }
  }
}
