@import "../_dark-theme-helpers";

.sub-menu {
  position: fixed;
  top: 4.8rem;
  left: 260px;
  bottom: 0;
  overflow: hidden;
  width: 15rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  //border-right: 2px solid transparent;
  .ui.menu {
    height: 100%;
    > .item {
      cursor: pointer;
    }
  }
}

.sub-menu-dark() {
  background-color: @darkBackground;
  border-right: 1px solid @darkBorderColor;
  .ui.secondary.pointing.menu {
    border-color: @darkBorderColor;
    > .item {
      color: darken(@darkForeground, 15%);
      &:hover {
        color: @darkLinkHoverColor;
      }
      &.active {
        color: @darkForeground;
        border-color: @darkForeground;
      }
    }
  }
}