<div class="comment-container ui comments">
  <div class="ui divider" #headDivider></div>
  @if (isLoading) {
    <div class="comment-loading-container">
      <div class="ui active text large loader">
        加载评论中...
      </div>
    </div>
  }
  <div class="header-container">
    @if (!isLoading) {
      <h3 class="ui header">{{!!posts ? posts.length: 0}}条来自Bangumi的评论</h3>
    }
    <a class="sort-button" (click)="onOrderChange($event)" [title]="sort === 'desc' ? '降序': '升序'">
      <i class="sort content icon" [ngClass]="{ascending: sort === 'asc', descending: sort === 'desc'}"></i>
      {{sort === 'desc'? '最新的评论在前': '最早的评论在前'}}
    </a>
  </div>
  @if (!!authInfo && !rootFormOpen && sort === 'desc') {
    <div class="fake-comment-form">
      <div class="avatar">
        <img [src]="authInfo.avatar.medium" alt="avatar">
      </div>
      <div class="fake-textarea" (click)="openRootForm()">我要吐槽...</div>
    </div>
  }
  @if (!!formhash && rootFormOpen && sort === 'desc') {
    <bangumi-comment-form [bgmEpsId]="bgmEpsId"
      [lastview]="lastview"
      [formhash]="formhash"
      [avatar]="authInfo.avatar.medium"
      (commentSent)="onCommentSent($event)"
    (cancel)="onCommentCancel($event)"></bangumi-comment-form>
  }
  @for (post of posts; track post) {
    <div class="comment-post comment">
      @if (!post.isEditing) {
        <a [href]="post.author.url" class="avatar" target="_blank">
          <img [src]="post.author.avatar" alt="avatar">
        </a>
      }
      @if (!post.isEditing) {
        <div class="content">
          <a [href]="post.author.url" class="author" target="_blank">{{post.author.name}}</a>
          <div class="metadata">
            <span class="date">{{post.date | date:'medium'}}</span>
          </div>
          <div class="text" [innerHTML]="post.content"></div>
          @if (!post.formOpen && !post.isEditing && !!formhash) {
            <div class="actions">
              <a class="reply" (click)="addComment(post)">Reply</a>
              @if (post.author.uid === authInfo.id + '') {
                <a class="edit" (click)="editComment(post)">Edit</a>
              }
              @if (post.author.uid === authInfo.id + '') {
                <a class="delete"
                  confirmDialog
                  dialogTitle="确定要删除这条评论么"
                  [dialogContent]="'确定删除“' + post.content + '”吗？'"
                (onConfirm)="deleteComment(post)">Delete</a>
              }
            </div>
          }
          @if (post.formOpen && !!formhash && sort === 'desc') {
            <bangumi-comment-form [bgmEpsId]="bgmEpsId"
              [lastview]="lastview"
              [formhash]="formhash"
              [avatar]="authInfo.avatar.medium"
              [post]="post"
              [isRootPost]="true"
              (commentSent)="onCommentSent($event)"
            (cancel)="onCommentCancel($event)"></bangumi-comment-form>
          }
        </div>
      }
      @if (post.isEditing) {
        <bangumi-edit-comment
          [bgmEpsId]="bgmEpsId"
          [postId]="post.id"
          [avatar]="authInfo.avatar.medium"
          (commentUpdate)="onCommentUpdate()"
        (cancel)="onCommentEditCancel($event)"></bangumi-edit-comment>
      }
      @if (!!post.subPosts && post.subPosts.length > 0) {
        <div class="comments">
          @for (subPost of post.subPosts; track subPost) {
            <div class="comment-post comment">
              @if (!subPost.isEditing) {
                <a [href]="subPost.author.url" class="avatar" target="_blank">
                  <img [src]="subPost.author.avatar" alt="avatar">
                </a>
              }
              @if (!subPost.isEditing) {
                <div class="content">
                  <a [href]="subPost.author.url" class="author" target="_blank">{{subPost.author.name}}</a>
                  <div class="metadata">
                    <span class="date">{{subPost.date | date:'medium'}}</span>
                  </div>
                  @if (!!subPost.quote) {
                    <div class="quote">
                      <q><strong>{{subPost.quote.author}}</strong><span [innerHTML]="subPost.quote.content"></span></q>
                    </div>
                  }
                  <div class="text" [innerHTML]="subPost.content"></div>
                  @if (!subPost.formOpen && !subPost.isEditing && !!formhash) {
                    <div class="actions">
                      <a class="reply" (click)="addComment(subPost)">Reply</a>
                      @if (subPost.author.uid === authInfo.id + '') {
                        <a class="edit" (click)="editComment(subPost)">Edit</a>
                      }
                      @if (subPost.author.uid === authInfo.id + '') {
                        <a class="delete"
                          confirmDialog
                          dialogTitle="确定要删除这条评论么"
                          [dialogContent]="'确定删除“' + subPost.content + '”吗？'"
                        (onConfirm)="deleteComment(subPost)">Delete</a>
                      }
                    </div>
                  }
                  @if (subPost.formOpen && !!formhash) {
                    <bangumi-comment-form
                      [bgmEpsId]="bgmEpsId"
                      [lastview]="lastview"
                      [formhash]="formhash"
                      [avatar]="authInfo.avatar.medium"
                      [post]="subPost"
                      [isRootPost]="false"
                      (commentSent)="onCommentSent($event)"
                    (cancel)="onCommentCancel($event)"></bangumi-comment-form>
                  }
                </div>
              }
              @if (subPost.isEditing) {
                <bangumi-edit-comment
                  [bgmEpsId]="bgmEpsId"
                  [postId]="subPost.id"
                  [avatar]="authInfo.avatar.medium"
                  (commentUpdate)="onCommentUpdate()"
                (cancel)="onCommentEditCancel($event)"></bangumi-edit-comment>
              }
            </div>
          }
        </div>
      }
      @if (post.formOpen && !!formhash && sort === 'asc') {
        <bangumi-comment-form [bgmEpsId]="bgmEpsId"
          [lastview]="lastview"
          [formhash]="formhash"
          [avatar]="authInfo.avatar.medium"
          [post]="post"
          [isRootPost]="true"
          (commentSent)="onCommentSent($event)"
        (cancel)="onCommentCancel($event)"></bangumi-comment-form>
      }
    </div>
  }
  @if (!!authInfo && !rootFormOpen && sort === 'asc') {
    <div class="fake-comment-form">
      <div class="avatar">
        <img [src]="authInfo.avatar.medium" alt="avatar">
      </div>
      <div class="fake-textarea" (click)="openRootForm()">我要吐槽...</div>
    </div>
  }
  @if (!!formhash && rootFormOpen && sort === 'asc') {
    <bangumi-comment-form [bgmEpsId]="bgmEpsId"
      [lastview]="lastview"
      [formhash]="formhash"
      [avatar]="authInfo.avatar.medium"
      (commentSent)="onCommentSent($event)"
    (cancel)="onCommentCancel($event)"></bangumi-comment-form>
  }
</div>
