<div class="favorite-wrapper">
  @if (!bangumi.favorite) {
    <button
      class="small ui basic button"
      [ngClass]="{inverted: isDarkTheme}"
      [disabled]="isOnSynchronizing"
      (click)="onEditReview()"><i class="remove bookmark icon"></i> 收藏/评价
    </button>
  }
  @if (bangumi.favorite) {
    <button class="ui small labeled icon button"
            [ngClass]="{
               orange: bangumi.favorite.status === eFavoriteStatus.WISH,
               olive: bangumi.favorite.status === eFavoriteStatus.WATCHED,
               blue: bangumi.favorite.status === eFavoriteStatus.WATCHING,
               brown: bangumi.favorite.status === eFavoriteStatus.PAUSE,
               grey: bangumi.favorite.status === eFavoriteStatus.ABANDONED,
               inverted: isDarkTheme
               }"
      [disabled]="isOnSynchronizing"
      (click)="onEditReview()">
      <i class="bookmark icon"></i>我{{FAVORITE_LABEL[bangumi.favorite.status]}}这部{{BANGUMI_TYPE[bangumi.type]}}</button>
    }
    @if (!!bangumi.favorite) {
      <button class="ui small basic button"
        [ngClass]="{inverted: isDarkTheme}"
        confirmDialog
        dialogTitle="确定要删除收藏吗？"
        dialogContent="你可以随时重新收藏这部动画，将同时删除box.moe的收藏以及box.moe关联的其他平台的收藏。"
        (onConfirm)="deleteFavorite()"
      [disabled]="isOnSynchronizing">删除收藏</button>
    }
    @if (isOnSynchronizing) {
      <span class="sync-loader-tip">
        <span class="ui active inline tiny loader"></span> 正在与box.moe同步
      </span>
    }
    @if (!isOnSynchronizing) {
      <span class="sync-complete-tip">
        <i class="icon checkmark"></i> 已与box.moe同步
      </span>
    }
  </div>
  @if (loadBgmInfo && bangumi.favorite) {
    <div class="my-review facade-item">
      <my-review [favorite]="bangumi.favorite" (editReview)="onEditReview()"></my-review>
    </div>
  }
